<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h4>PORTAFOLIO ARGENTINA PROGRAMA</h4>
<p>Portafolio Personal en el marco del desarrollo del Trabajo de Proyecto Integrador con información 
    acerca de herramientas, experiencia, educación , proyectos, entre otros.</p>
        </div>


        <div class="col-sm-12 col-md-3 col-lg-3 offset-med-1 offset-lg-1 parte2">
           <a href="">
           <img src="../../../assets/PortFolioJN.png"  class="img-fluid img-proyecto"></a>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h4>BIKEXTREM</h4>
            <p>MarketPlace de ecommerce sobre Bicicletas, Accesorios, Repuestos y Servicios. 
                Blog de Novedades de Bicicletas. Público objetivo:Personas que practiquen el 
                ciclismo tanto de forma amateur como profesional, rango de edades desde público
                adolescente hasta jubilados.</p>
                    </div>
            
            
                    <div class="col-sm-12 col-md-3 col-lg-3 offset-med-1 offset-lg-1 parte2">
                        <a href="https://github.com/juanpampean/grupo_9_BikeXtrem">
                        <img src="../../../assets/Bikextrem.png" class="img-fluid img-proyecto">
            </a>
                    </div>
    </div>
