<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li><h4>ARGENTINA PROGRAMA</h4> - <h5>(11/2021 - 07/2022)</h5></li>
    <img src="/assets/logoazul.png" width="80px" height="40px">
    <h6>Yo Programo, Desarrollo Web Full Stack</h6>
</ul>

<ul>
    <li><h4>DIGITAL HOUSE</h4> - <h5>(11/2021 - 06/2022)</h5></li>
    <img src="/assets/DigitalHouseLogo.png" width="80px" height="40px">
    <h6> Desarrollo Web Full Stack Node.js</h6>
</ul>
<ul>
    <li><h4>UNITEC</h4> - <h5>(09/1998 - 11/2003)</h5></li>
    <img src="/assets/Unitec.gif" width="80px" height="50px">
    <h6> Licenciatura en Ciencias Administrativas mención Logística</h6>
    <p>Logística de Compra y Venta. Negociación.</p>
</ul>

</div>
</div>
