.row{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(253, 232, 239);
    }
    h4, h5{
        display: inline;
    }
    .btn-edit{
        margin-left: 75%;
    }