<div class="row">
    <h2>Experiencia</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li><h4>Desarrollo Web Full Stack Node js</h4> - <h5>(11/2021 - 06/2022) </h5></li>
    <h6>BIKEXTREM.COM</h6>
    <p>PROYECTO INTEGRADOR REALIZADO EN EL MARCO DE DIGITAL HOUSE. Maquetado Web: Planificación y estimación de desarrollo de la página a realizar. Traducción del diseño de una página web a componentes web. Manejo de interacciones
    del usuario y animaciones de la interfaz. Implementar en el desarrollo buenas prácticas (responsive, UX). DESARROLLO FRONT END: HTML, CSS, MANEJO DE conexiones asíncronas con Fetch, Uso de Session y Cookies para almacenado de información,
    Implementación de validaciones en JavaScript para formularios. DESARROLLO BACK END: Creación y puesta en marcha de un servidor web, Análisis, diseño e implementación de un sistema de base de datos, Mantenimiento y resolución de errores,
    Autenticación y manejo de sesiones de usuarios, Manejo de conexiones asíncronas a servicios web, Integración con otras plataformas mediante apis.</p>
</ul>
<ul>
    <li><h4>Administrativo Comercial</h4> - <h5>(10/2019 - 02/2020)</h5></li>
    <h6> Organización Trigal S.A</h6>
    <p>Gestión administrativa de Ventas y compras en sector de consumo masivo/ Atención a cartera de clientes/ Registros</p>
</ul>
<ul>
    <li><h4>Analista de Compras</h4> - <h5>(10/2018 - 03/2019)</h5></li>
    <h6> Dietéticas S.A</h6>
    <p>Contribución en las mejoras de los procesos de administración, control de costos de inventario.</p>
</ul>
<ul>
    <li><h4>Office Manager</h4> - <h5>(02/2016 - 04/2018)</h5></li>
    <h6> Distribuidora Prud Service</h6>
    <p>Logística de Compra y Venta. Negociación.</p>
</ul>
<ul>
    <li><h4>Gerente de servicios y recepcion</h4> - <h5>(06/2004 - 12/2015)</h5></li>
    <h6>EPA C.A. GRUPO BECOBLOHM</h6>
    <p>Manejo de Software de Gestión As400 de Entrada de mercadería y suministros, documentación 
    relacionada como Órdenes de Compra, Facturas, notas de crédito, Organizar, dirigir, supervisar
    y coordinar el trabajo del personal a mi cargo.</p>
</ul>
</div>
</div>
