<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <img src="../../../assets/Profile.png.webp"
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <br>
        <h1><strong>{{miPortafolio.name}}</strong></h1>
        <br>
        <h4>Fullstack Developer Jr</h4>
        <br>
        <h5>Buenos Aires(Argentina)</h5>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
    <span>
        <br>
    <h2>Acerca de mi </h2>
    <div class="btn-edit"> <a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
    <br>
    <p><strong>Hola Soy Jonima, Desarrollador Web Fullstack Jr y Licenciada en Administración y Logística con amplia experiencia en servicios, Compras, Personal, ventas y planificación. Soy entusiasta, dinámica, con vocación de servicio, iniciativa, orientada a resultados. En búsqueda constante de ampliar mis conocimientos adquiridos y potenciar mi desarrollo profesional.
    </strong></p>

    <div>
    <button class="btn btn-primary" type="button">Contacto</button>
    <br>
    <br>
</div>


